<!DOCTYPE html>
<html lang="en" >

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/4-col-portfolio.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> <!-- JQuery-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="/scripts/search.js"></script>
    <script src="/scripts/bootstrap.min.js"></script> <!-- bootsrap libraries -->
    <script src="/scripts/handlebars-v4.0.12.js"></script>	<!-- handlebar library -->

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#" style="margin-left: 100px;">LSMP - Book Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" id="profile" href="">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="order" href="">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="logout" href="/">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- A form for searching a product-->

    <div class="container form-layout" style="margin-top: 1%">

      <p class="my-3 greet" style="color: white"></p>
      <form>
        <div class="form-row">
          <div class="input-group col-md-6">
            <input name="productID" type="text" class="form-control" id="productID" placeholder="Insert book id">
            <button type="submit"><i class="fa fa-search">Go!</i></button>
          </div>
      </form>

    </div>




    <!-- a script for dynamically generating employees on the homepage. uses handlebard library. More info: https://handlebarsjs.com/ -->
    <script id="book-modal-template" type="text/x-handlebars-template">

      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" id="{{id}}">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/images/bk1.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">Title: {{title}}</a>
            </h6>
            <p class="card-text">Author: {{author}}</p>
            <p class="card-text">Edition: {{edition}}</p>
            <p class="card-text">isbn: {{isbn}}</p>
            <p class="card-text">Publisher: {{publisher}}</p>
            <p class="card-text">Price: {{price}}</p>
            <p><a href="/reviews?link={{reviewslink}}&id={{productID}}&pid={{id}}">Customer Reviews</a></p>
            <p><a href="/creview?link={{creviewlink}}&id={{productID}}&pid={{id}}">Review this Book</a></p>
          </div>
        </div>
      </div>

    </script>

    <!-- Page Content -->
    <div class="container" style="margin-top: 1%">

      <!-- Page Heading -->
      <p class="my-2 col-lg-6" style="color: white; background-color:grey;"><i>Search result:</i></p>
      <p class="col-lg-6" id="qty" style="color:white; background-color:grey;";></p>
      <p class="col-lg-6 orderInfo" style="color:white; background-color:grey;"></p>
      <p><a class="col-lg-6 order" href="" style="color:white; background-color:grey;">Order</a><p>
      <!-- the html div tag where the employee content will be dynamically generated into. Look at hr_employee.js for the code responsible for generating that content -->
      <div class="row" id="content">



      </div>
      <!-- /.row -->
      <!-- Pagination 
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>  -->

    <!-- Footer 
     <footer class="page-footer font-small py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; COMP 433 Book Store 2018</p>
      </div>
      </footer> -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
