<html>
	<title>PHome</title>
	<head>Partner Home</head>
	<body>
		<p>Add Book</p>
		<form>
			<label>Book Name</label>
			<input name="productName" type="text" id="pname" />
			<label>Book Description</label>
			<input name="description" type="text" id="description" />
			<label>Author</label>
			<input name="author" type="text" id="author" />
			<label>Publisher</label>
			<input name="publisher" type="text" id="publisher" />
			<label>Edition</label>
			<input name="edition" type="text" id="edition" />
			<input type="submit" name="submit" placeholder="submit">
		</form>
	</body>
</html>