<!DOCTYPE html>
<html lang="en">
	  <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <title>Registration Form</title>

	    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> <!-- JQuery-->
	    <script src="/scripts/bootstrap.min.js"></script> <!-- bootsrap libraries -->
	    <script src="/scripts/user_register.js"></script>
		<style type="text/css">
			body{
				background-image: url(/images/bg.jpg);
			}
			input[type="text"] {
				background-color: #e5e5e5;
			}
		</style>
	  </head>
 	<body>
	<div class="panel panel-primary" style="margin:20px;">
		<div class="panel-heading">
	        <h3 class="panel-title" style="margin-left: 50px;">Registration Form</h3>
		</div>
		<div class="panel-body">
		    <form>
				<div class="col-md-12 col-sm-12">
					<div class="row" style="margin-left: 20px;">
						<div class="form-group col-md-3 col-sm-3">
				            <label for="loginID">Username*	</label>
				            <input name="loginID" type="text" class="form-control input-sm" id="loginID" placeholder="">
				        </div>
				        <div class="form-group col-md-3 col-sm-3">
				            <label for="firstName">First Name*</label>
				            <input name="firstName" type="text" class="form-control input-sm" id="firstName" placeholder="">
				        </div>
				         <div class="form-group col-md-3 col-sm-3">
				            <label for="middleName">Middle Name*</label>
				            <input name="middleName" type="text" class="form-control input-sm" id="middleName" placeholder="">
				        </div>
				        <div class="form-group col-md-3 col-sm-3">
				            <label for="lastName">Last Name*</label>
				            <input name="lastName" type="text" class="form-control input-sm" id="lastName" placeholder="">
				        </div>
					</div>
					<div class="row" style="margin-left: 20px;">
						<div class="form-group col-md-3 col-sm-3">
				            <label for="email">Email*</label>
				            <input name="email" type="text" class="form-control input-sm" id="email" placeholder="">
				        </div>
					
						<div class="form-group col-md-3 col-sm-3">
				            <label for="password">Password*</label>
				            <input name="password" type="password" class="form-control input-sm" id="password" placeholder="">
				        </div>
				    </div>
				    <p style="margin-left: 30px;"><b>Address</b></p>
				    <div class="row" style="margin-left: 20px;">
						<div class="form-group col-md-3 col-sm-3">
				            <label for="street">Street*</label>
				            <input name="street" type="text" class="form-control input-sm" id="street" placeholder="">
				        </div>

						<div class="form-group col-md-3 col-sm-3">
				            <label for="city">City</label>
				            <input name="city" type="text" class="form-control input-sm" id="city" placeholder="">
				        </div>
				        <div class="form-group col-md-3 col-sm-3">
				            <label for="state">State*</label>
				            <input name="state" type="text" class="form-control input-sm" id="state" placeholder="">
				        </div>

						<div class="form-group col-md-3 col-sm-3">
				            <label for="zipcode">Zipcode</label>
				            <input name="zipcode" type="text" class="form-control input-sm" id="zipcode" placeholder="">
				        </div>
				    </div>
				    <p style="margin-left: 30px;"><b>Phone</b></p>
				    <div class="row" style="margin-left: 20px;">
						<div class="form-group col-md-3 col-sm-3">
				            <label for="phoneNumber">Phone Number</label>
				            <input name="phoneNumber" type="text" class="form-control input-sm" id="phoneNumber" placeholder="">
				        </div>
				        <div class = "form-group col-md-3 col-sm-3">
					      <label for="type">Type*</label>	
				     
					      <select class="form-control input-sm" id="types">
								<option>-- Select Phone Type --</option>
								<option>Mobile</option>
								<option>Office</option>
					      </select>
						</div>
				    </div>
				    <p style="margin-left: 30px;"><b>Card Information</b></p>
				    <div class="row" style="margin-left: 20px;">
						<div class="form-group col-md-3 col-sm-3">
				            <label for="cardNumber">Card Number</label>
				            <input name="cardNumber" type="text" class="form-control input-sm" id="cardNumber" placeholder="">
				        </div>
				        <div class="form-group col-md-3 col-sm-3">
				            <label for="cvv">Cvv</label>
				            <input name="cvv" type="text" class="form-control input-sm" id="cvv" placeholder="">
				        </div>
				        <div class="form-group col-md-3 col-sm-3">
				            <label for="expiryMonth">Expiry Month</label>
				            <input name="expiryMonth" type="text" class="form-control input-sm" id="expiryMonth" placeholder="">
				        </div>
				        <div class="form-group col-md-3 col-sm-3">
				            <label for="expirYear">Expiry Year</label>
				            <input name="expirYear" type="text" class="form-control input-sm" id="expirYear" placeholder="">
				        </div>
					</div>
				</div>
				<div class="row" style="margin-left: 100px;">
					<div class="col-md-12 col-sm-12">
						<div class="form-group col-md-12 col-sm-12 text-right" >
							<input type="submit" class="btn btn-primary" value="Submit"/>
						</div>
					</div>
				</div>	
			</form>
		</div>
	</div>
</body>
</html>