<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> <!-- JQuery-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/scripts/handlebars-v4.0.12.js"></script>	<!-- handlebar library -->
    <script src="/scripts/reviews.js"></script>
    <style type="text/css">
      body{
        background-image: url(/images/img7.jpg);
      }
  </style>
</head>
<div class="content" style="margin-left: 100px; margin-right: 300px;">
  <p><a id="logout" href="/"><b>Logout</b></a></p>
  <h3>Customer Reviews</h3>
  <hr>
  <!-- a script for dynamically generating employees on the homepage. uses handlebard library. More info: https://handlebarsjs.com/ -->
      <script id="reviews-modal-template" type="text/x-handlebars-template">

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" id="{{productID}}">
          <div class="card h-100">
            <div class="card-body">
              <p class="card-text"><b>Review: {{review}}</b></p>
              <p class="card-text"><b>Rate: {{rate}}</b></p>
              <p class="card-text"><a id="delete" href="/reviews?link={{delete}}" type="button">Delete</a></p>
            </div>
          </div>
        </div>
        <hr>

      </script>

  <div id="content">

  </div>
  <p><a id="back" href=""><b>Back</b></a></p>
</div>
</html>