
body {
  padding-top: 54px;
  min-height: 100%
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
    background-image: url(/images/bgshop.jpg);
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

